django>=4.2
djangorestframework
celery
redis
requests
django-cors-headers
gunicorn
psycopg2-binary
dj-database-url
pyspellchecker
google-generativeai 
google-cloud-aiplatform 
djangorestframework-simplejwt 
Pillow
PyJWT>=2.8
jieba
google-genai
google-cloud-storage
firebase-admin
